name: ci

on:
  push:
    branches: [ main ]

jobs:
  tests:
    name: Run unit tests for all targets
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: '8'

      - name: Tests
        run: ./gradlew hostSpecificTests

  dispatchCd:
    name: Trigger cd workflow if version is not released
    runs-on: ubuntu-latest
    needs: [ tests ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Retrieve version of this library
        run: |
          echo LIB_VERSION=$(grep -F -m1 "version=" gradle.properties | tr -d "version=" | tr -d "\"") >> $GITHUB_ENV

      - uses: mukunku/tag-exists-action@v1.0.0
        id: checkTagExists
        with:
          tag: ${{ env.LIB_VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger cd workflow
        if: steps.checkTagExists.outputs.exists == 'false'
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: cd
          token: ${{ secrets.MACHINE_USER_TOKEN }}
          inputs: '{"sha": "${{ env.GITHUB_SHA }}", "version": "${{ env.LIB_VERSION }}"}'
